<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{!-- <link rel="manifest" href="./assets/images/manifest.json">
    <meta name="msapplication-TileColor" content="#dc3545">
    <meta name="msapplication-TileImage" content="./assets/images/ms-icon-144x144.png">
    <meta name="theme-color" content="#dc3545"> --}}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./assets/css/public.css">
    <title>Mongo Scraper</title>
</head>

<body>
    <div class="wrapper">
        {{{body}}}
    </div>
    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
   
    <script src="./assets/js/public.js"></script>
</body>

</html>